* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

body {
    background: rgb(183, 183, 173);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container_Main {
    position: relative;
    margin: 50px;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #ffff;
    display: grid;
    grid-template-columns: 300fr 300fr;
    box-shadow: 0 40px 50px grey;
}

.container_Main .left_Side {
    width: 600px;
    position: relative;
    background: #339292;
    padding: 50px;
}

.name_Surname {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* position: relative;
    display: flex;
    flex-direction: column; */
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(237, 229, 229);
    font-size: larger;

}

.title_experience, .title_School, .title_Project {
    color: rgb(230, 235, 239);
    padding-top: 30px;
    font-weight: 1000hv;
    font-size: large;

}

.company_1,
.company_2,
.company_3 {
    padding-top: 30px;
}


.address,
.company_1_details,
.company_2_details,
.company_3_details,
.school_1_details,
.school_2_details,
.project_1_details,
.skills_List,
.awards,
.list_Languages{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(62, 61, 61);

}



.school_1,
.school_2,
.project_1 {
    padding-top: 20px;
}



.container_Main .right_Side {
    margin-right: 0;
    width: 400px;
    position: relative;
    background: rgb(241, 237, 237);
    padding: 50px;
}

.address {
    color: #057474;
    /* position: relative;
    display: flex;
    flex-direction: column; */
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(237, 229, 229);
    border-right: 1px solid rgb(237, 229, 229);
    font-size: larger;
    box-shadow: 0 1px 5px grey;
    padding-left: 10px;
    padding-top: 10px;
}

.title_Skills {

    color: #06bebe;
    font-style: inherit;
    padding-top: 30px;

    font-size: larger;
}

.skills_List {
    padding-left: 15px;
}

.title_Languages {

    color: #06bebe;
    font-style: inherit;
    padding-top: 30px;

    font-size: larger;
}



/* body{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3em;
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
    width: 400px;
    text-align: center;
    box-shadow: 4px 4px 5px #888888;
    margin-top: 10px;
}

.Container_Main {
    margin-top: 10pm;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 50px;
}

.Container_Main_box_1 {
    
    margin-right: 15%;
    box-shadow: 4px 4px 5px #888888;
    height: fit-content;
    width: fit-content;
}

.Container_Main_box_2 {
    
    box-shadow: 4px 4px 5px #888888;
    transition: all 1s;
}
.Container_Main_box_2 :hover{
    transform: scale(1.2)
}

.Container_1 h5{
    font-family:'Times New Roman', Times, serif ;
    color: #3366ff;
}

.Container_1_box_1 {
    border: 5px solid rebeccapurple;
    margin-right: 15%;
    box-shadow: 4px 4px 5px #888888;
    height: fit-content;
    width: fit-content;
}
.Container_1_box_1 h3 pre {
    border: 5px solid rebeccapurple;
    margin-right: 15%;
    box-shadow: 4px 4px 5px #888888;
    height: fit-content;
    width: fit-content;
    margin-top: 1%;
}

.Container_1_box_2 {
    border: 5px solid rebeccapurple;
    margin-right: 15%;
    box-shadow: 4px 4px 5px #888888;
    height: fit-content;
    width: fit-content;
}

.Container_1_box_3 {
    border: 5px solid rebeccapurple;
    margin-right: 15%;
    box-shadow: 4px 4px 5px #888888;
    height: fit-content;
    width: fit-content;
} */